name: CI Integration Tests

on:
    push:
        branches: [main]

jobs:
    integration-tests:
        name: Integration Tests (MySQL)
        runs-on: ubuntu-latest

        services:
            mysql:
                image: mysql:8.0
                ports:
                    - 3306:3306
                env:
                    MYSQL_DATABASE: snippetbox_test
                    MYSQL_USER: testuser
                    MYSQL_PASSWORD: testpass
                    MYSQL_ROOT_PASSWORD: rootpass
                    options: >-
                        --health-cmd="mysqladmin ping -h 127.0.0.1"
                        --health-interval=10s
                        --health-timeout=5s
                        --health-retries=5
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                go-version: '1.25'

            - name: Cache Go modules
              uses: actions/cache@v4
              with:
                path: |
                    ~/go/pkg/mod
                    ~/.cache/go-build
                key: go-${{ runner.os }}-${{ hashFiles('**/go.sum') }}

            - name: Wait for MySQL
              run: |
                for i in {1..20}; do
                    mysqladmin ping -h 127.0.0.1 -u testuser -ptestpass && break
                    sleep 2
                done

            # - name: Run DB migrations
            #   run: |
            #     mysql -h 127.0.0.1 \
            #         -u testuser \
            #         -ptestpass \
            #         snippetbox_test < ./internal/models/testdata/setup.sql

            - name: Run integration tests
              env:
                DB_DSN: "testuser:testpass@tcp(127.0.0.1:3306)/snippetbox_test?parseTime=true"

              run: make test-integration    