name: CI
on:
    push:
        branches: [main]

jobs: 
    ci:
        name: Build & Test
        runs-on: ubuntu-latest

        steps:
            # 1 Get source code
            - name: Checkout repository
              uses: actions/checkout@v4

            # 2 Setup Go
            - name: Setup Go
              uses: actions/setup-go@v5  
              with:
                go-version: '1.25'

            # 3 Cache Go modules
            - name: Cache Go modules
              uses: actions/cache@v4
              with:
                path: |
                    ~/go/pkg/mod
                    ~/.cache/go-build
                key: go-${{ runner.os }}-${{ hashFiles('**/go.sum') }}

            # 4 Run CI checks
                run: make ci