name: Package

on:
  push:
    branches: [main]

jobs:
  package:
    name: Build Linux Binary
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build production binary
        run: make build-linux

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: snippetbox-linux
          path: bin/snippetbox
