# Workflow: Build Linux binary and upload artifact
name: Package

on:
  push:
    branches: [main]

jobs:
  setup:
    uses: ./.github/workflows/reusable.yml
    with:
      setup-go: true
      cache-modules: true

  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Linux Binary
        run: make build-linux

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: snippetbox-binary-linux
          path: bin/snippetbox
